<template>
  <div>
    <h1>Flipstarters on Bitcoin Cash</h1>
    <p>
        Flipstarter provides a way for any project to engage with potential funders in a way
        that encourages accountability for projects and fairness for funders.
    </p>
    <p>
        This page keeps an overview of active and historical flipstarters.
        Anything missing? Submit an issue or MR to <a href="https://gitlab.com/dagurval/flipstarters" style="color: blue">the gitlab repository</a>,
        or ping <span style="font-family: 'Courier New', Courier, monospace">@dagurval</span> in <a href="https://t.me/flipstarter">the flipstarter telegram group</a>.
    </p>
    <p>
        So far, <span style="font-weight: bolder;">{{ succesfulCount }} projects</span>
        have been successfully funded using flipstarter, receiving a total of
          <span style="font-weight: bolder;">{{ totalFunded | round(2) }}&nbsp;BCH</span>.
    </p>
    <p>
        <b-button variant="primary" size="lg" href="https://flipstarter.cash/en/how-to-pledge">How to pledge</b-button>
        &nbsp;<b-button variant="primary" size="lg" href="https://flipstarter.cash/en/how-to">Start a campaign</b-button>
    </p>
        <p style="font-style: italic;">A flipstarter listing is not an endorsement.
        Always do your own research before pledging.
    </p>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import flipstarters from '@/flipstarters.json';

Vue.filter('round', (value: number, decimals: number) => Math.round(value * (10 ** decimals)) / (10 ** decimals));

@Component
export default class About extends Vue {
  /* eslint class-methods-use-this: ["error", { "exceptMethods": ["data"] }] */
  data() {
    const successful = flipstarters.filter((f) => f.status === 'success');
    // eslint-disable-next-line
    const totalFunded = successful.reduce((a: any, b: any) => {
      const aa = typeof a === 'number' ? a : a.amount;
      const bb = typeof b === 'number' ? b : b.amount;
      return aa + bb;
    });
    const succesfulCount = successful.length;
    return {
      totalFunded,
      succesfulCount,
    };
  }
}
</script>
